<html>

<body>
	<!--TODO: CLEAN THIS MESS UP!-->
	<p>Your new channel has been created, you can access it from this link:</p>
	<a href="/chat/<%= identity %>">localhost:3030/<%= identity %></a>
</body>

</html>
